libs/*

# Copilot config
nvim/.config/github-copilot/apps.json
nvim/.config/github-copilot/hosts.json
nvim/.config/github-copilot/version.json
nvim/.config/github-copilot/versions.json

# Ssh stuff
ssh-connect

tmux/tmux
